<% flash.each do |name, msg| %>

  <% case name
  when "success"
    alert_type = "alert-success"
  when "notice"
    alert_type = "alert-info"
  when "alert"
    alert_type = "alert-warning"
  when "error"
    alert_type = "alert-danger"
  end 
  %>

  <div class="alert <%= alert_type %>" role="alert">
    <%= msg %>
  </div>
<% end %>  